@font-face {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    src: url('../fonts/workSans/WorkSans-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'TerminaW05-Black';
    src: url('../fonts/TerminaW05Black/Termina\ W05\ Black.woff');
}
@font-face {
    font-family: 'worksanbold', ;
    src: url('../fonts/WorksanBol/Work\ Sans\ Bold.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}